* {
    margin: 0;
    padding: 0;
}

/*highlight color*/
::selection {
    background: #fef68a;
}

::-moz-selection {
    background: #fef68a;
}

a img{
    border: none;
}

/*remove link outlines*/
a:active, a:focus, a:visited {
    outline: none;
    -moz-outline-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    text-rendering: optimizeLegibility;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
