* {
    margin: 0;
    padding: 0;
}

/*highlight color*/
::selection {
    background: #fef68a;
}

::-moz-selection {
    background: #fef68a;
}

a img{
    border: none;
}

/*remove default input and link outlines*/
input:focus, button:focus,
select:focus, a:active,
a:focus, a:visited {
    outline: none;
    -moz-outline-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    text-rendering: optimizeLegibility;
}
